*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --block-size: 200px;

    /* The X/O size - 90% of the block size */
    --symb-size: calc(var(--block-size) * .9)
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p, span, h1, h2 {
    margin-bottom: 0.25em;
}

#mainContainer {
    width: 70%;
    height: 100%;
}

#header {
    text-align: center;
    padding: 1em 0;
}

/* The entire board and info area */
#gameBoard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* background-color: grey */
}

#gameArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
}

.square {
    width: var(--block-size);
    height: var(--block-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**/
/***** 'X' symbol ******/
.square.symbX::before,
.square.symbX::after {
    content: '';
    position: absolute;
    width: calc(var(--symb-size) * .15);
    height: var(--symb-size);
    background-color: red;
}

.square.symbX::before {
    transform: rotate(45deg);
}

.square.symbX::after {
    transform: rotate(-45deg);
}
/***********************/
/**/

/**/
/***** 'O' symbol ******/
.square.symbO::before,
.square.symbO::after {
    content: '';
    position: absolute;
    width: calc(var(--symb-size));
    height: var(--symb-size);
    background-color: black;
    border-radius: 50%;
}

.square.symbO::after {
    scale: .7;
    background-color: white;
}
/***********************/
/**/

#gameStats {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    padding: 1em;
    border-left: 1px solid;
} 

#message {
    text-align: center;
    margin: 1em;
}



