*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --block-size: 200px;

    /* The X/O size - 90% of the block size */
    --symb-size: calc(var(--block-size) * .9);
    
    /* The X/O block selector color */
    --block-selector: rgb(218, 218, 218);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

p, span, h1, h2 {
    margin-bottom: 0.25em;
}

#mainContainer {
    width: 70%;
    height: 100%;
}

#header {
    text-align: center;
    padding: 1em 0;
    margin-bottom: 4em;
}

/* The entire game area and info area */
#gameBoard {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: fit-content;
    /* background-color: grey */
}

#gameArea {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
}

.square {
    width: var(--block-size);
    height: var(--block-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/******* 'X' and 'O' Symbols ********/
.square.symbX,
.square.symbO {
    cursor: not-allowed;
}


/***** 'X' symbol ******/
.square.symbX::before,
.square.symbX::after,
#gameArea.symbX .square:not(.symbX):not(.symbO):hover::before,
#gameArea.symbX .square:not(.symbX):not(.symbO):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--symb-size) * .15);
    height: var(--symb-size);
    background-color: red;
}


/* Rotation to form 'X' */
.square.symbX::before,
#gameArea.symbX .square:hover::before {
    transform: rotate(45deg);
}


/* Rotation to form 'X' */
.square.symbX::after,
#gameArea.symbX .square:hover::after {
    transform: rotate(-45deg);
}
/***************************/


/***** 'O' symbol ******/
.square.symbO::before,
.square.symbO::after,
#gameArea.symbO .square:not(.symbO):not(.symbX):hover::before,
#gameArea.symbO .square:not(.symbO):not(.symbX):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--symb-size));
    height: var(--symb-size);
    background-color: black;
    border-radius: 50%;
}

.square.symbO::after,
#gameArea.symbO .square:not(.symbO):not(.symbX):hover::after {
    scale: .7;
    background-color: white;
}
/***********************/

/* X/O symbol block selector highlight */
#gameArea.symbX .square:not(.symbX):not(.symbO):hover::before,
#gameArea.symbX .square:not(.symbX):not(.symbO):hover::after,
#gameArea.symbO .square:not(.symbO):not(.symbX):hover::before {
    background-color: var(--block-selector);
}
/***********************/
/**/

#gameStats {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: fit-content;
    padding: 1em;
    border-left: 1px solid;
} 

#gameMessage {
    text-align: center;
    margin-top: 4em;
}



